.inputBlock{
    display: flex;
   justify-content: center;
   align-items: center;
    input{
        border: solid 1px rgb(204, 203, 203);
        border-radius: 10px;
        margin: 1vw;
        padding: 1vw;
    }

button{
    padding: 1vw;
    border-radius: 10px;
    border: solid 1px rgb(204, 203, 203);
    color: white;
    font-size: 2vw;
    background-color: rgba(120, 193, 241, 0.856);
    cursor: pointer;
    min-width: 44vw;

}
.timeBlock{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
h3{
    font-size: 2vw;
}   
}
.weidInput{
    min-width: 44vw;
}
.taskDescriptionInput{
    min-width: 44vw;
    min-height: 30vh;
}