.inputBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inputBlock input {
  border: solid 1px rgb(204, 203, 203);
  border-radius: 10px;
  margin: 1vw;
  padding: 1vw;
}
.inputBlock button {
  padding: 1vw;
  border-radius: 10px;
  border: solid 1px rgb(204, 203, 203);
  background-color: rgba(228, 230, 227, 0.856);
  cursor: pointer;
}