.inputBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    padding-bottom: 22vw;

    input {
        border: none;
        outline: none;
        background-color: rgb(120, 220, 240);
        border-radius: 12px;
        padding: 1vw;
        max-width: 80vw;
       
    }
    input:focus {
        background-color: rgba(34, 193, 226, 1);
        color: white;
    }
    input:hover {
        background-color: rgba(34, 193, 226, 1);
    }

    button {
        padding: 1vw;
        border-radius: 12px;
        border: solid 1px rgb(204, 203, 203);
        color: white;
        font-size: 2vw;
        background-color: rgb(120, 220, 240);
        cursor: pointer;
        min-width: 35vw;
        transition: background-color 0.3s ease;
    }
    button:hover {
        background-color: rgba(34, 193, 226, 1);
    }

    .timeBlock {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        min-width: 35vw;

        input {
            min-width: 10vw;
            border: none;
            background-color: rgb(120, 220, 240);
            color: white;
            transition: background-color 0.3s ease;
        }
        input:hover {
            background-color: rgba(34, 193, 226, 1);
        }
        
    }

    h3 {
        font-size: 2vw;
    }

    .weidInput {
        min-width: 35vw;
        color: white;
        font-size: 2vw;
    }
    .timeInput{
        max-width: 25vw;
        font-size: 2vw;
    }
    .taskDescriptionInput {
        border: none;
        background-color: rgb(120, 220, 240);
        color: white;
        border-radius: 12px;
        outline: none;
        border: none;
        margin: 1vw;
        min-width: 35vw;
        min-height: 20vh;
        resize: none;
        padding: 1vw;
        font-size: 2vw;
    }
    .taskDescriptionInput:focus {
        background-color: rgba(34, 193, 226, 1);
    }
    .taskDescriptionInput:hover {
       
        background-color: rgba(34, 193, 226, 1);
    }
}
    @media only screen and (max-width: 1024px) {
        .inputBlock {
            min-width: 60vw;
            h3 {
                font-size: 6vw;
            }
            .timeBlock {
                min-width: 60vw;
            }

            input {
                min-width: 60vw;
                min-height: 12vw;
                font-size: 5vw;
            }
            .weidInput {
                min-width: 60vw;
              
            }
            button {
                min-width: 60vw;
                min-height: 12vw;
                font-size: 6vw;
            }
            .taskDescriptionInput {
                min-width: 60vw;
                min-height: 25vw;
                font-size: 3vw;
            }
        }
        button:hover {
            background-color: rgb(120, 220, 240);
        }
        input:hover {
            background-color: rgb(120, 220, 240);
        }
        .timeInput{
            max-width: 35vw;
        }
    }


@media screen and (max-width:767px) {
.inputBlock{
    gap: 2vw;
    min-width: 80vw;
    .timeInput{
        max-width: 45vw;
    }
    
    h3{
        font-size: 6vw;
    }
    .timeBlock{
        min-width: 80vw;
        
    }

    input{
        
        max-width: 80vw;
        min-height: 12vw;
        font-size: 5vw;
    }
    button{
        min-width: 80vw;
        min-height: 12vw;
        font-size: 6vw;
    }
    .taskDescriptionInput{
        min-width: 80vw;
        min-height: 25vh;
        font-size: 5vw;
        
    }
    .weidInput{
        min-width: 80vw;
    }
    button:hover {
        background-color: rgb(120, 220, 240);
    }
    input:hover {
        background-color: rgb(120, 220, 240);
    }
}
}

@media only screen and (max-width: 766px) and (orientation: landscape){
    .inputBlock{
        gap: 1vw;
        min-width: 80vw;
        
        
        h3{
            font-size: 3vw;
        }
        .timeBlock{
            min-width: 80vw;
            
        }
    
        input{
            max-width: 80vw;
            min-height: 5vw;
            font-size: 3vw;
        }
        button{
            min-width: 80vw;
            min-height:5vw;
            font-size: 4vw;
        }
        .taskDescriptionInput{
            min-width: 80vw;
            min-height: 10vh;
            font-size: 3vw;
            
        }
        
    }
}
