.inputBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1vw;
}
.inputBlock input {
  border: solid 1px rgb(204, 203, 203);
  border-radius: 12px;
  margin: 1vw;
  padding: 1vw;
}
.inputBlock input:focus {
  border-color: rgba(120, 193, 241, 0.856);
  outline: none;
}
.inputBlock button {
  padding: 1vw;
  border-radius: 10px;
  border: solid 1px rgb(204, 203, 203);
  color: white;
  font-size: 2vw;
  background-color: rgba(120, 193, 241, 0.856);
  cursor: pointer;
  min-width: 44vw;
  -webkit-transition: background-color 0.3 ease;
  transition: background-color 0.3 ease;
}
.inputBlock button:hover {
  background-color: rgba(16, 148, 236, 0.856);
}
.inputBlock .timeBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12vw;
}
.inputBlock .timeBlock input {
  cursor: pointer;
  min-width: 15vw;
}
.inputBlock h3 {
  font-size: 2vw;
}

.weidInput {
  min-width: 44vw;
}

.taskDescriptionInput {
  border: solid 1px rgb(204, 203, 203);
  border-radius: 12px;
  margin: 1vw;
  padding: 1vw;
  min-width: 44vw;
  min-height: 20vh;
  resize: none;
  padding: 2vw;
}

.taskDescriptionInput:focus {
  outline: none;
  border-color: rgba(120, 193, 241, 0.856);
}

@media screen and (max-width: 412px) {
  .inputBlock {
    margin-top: 15vw;
    gap: 2vw;
  }
  .inputBlock h3 {
    font-size: 6vw;
  }
  .inputBlock .timeBlock {
    gap: 8vw;
  }
  .inputBlock input {
    min-width: 60vw;
    min-height: 12vw;
    font-size: 5vw;
  }
  .inputBlock button {
    min-width: 60vw;
    min-height: 12vw;
    font-size: 6vw;
  }
  .inputBlock .taskDescriptionInput {
    min-width: 60vw;
    min-height: 20vh;
  }
}