.containerTodoItemMain{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  background:linear-gradient(201deg, rgba(7,186,190,0.2329306722689075) 0%, rgba(34,193,226,1) 100%);
  border-radius: 8px;
  padding: 1vw;
  min-width: 40vw;
  overflow-wrap: anywhere;
  
  p{
    color: white;
  }
  svg{
    font-size: 3vw;
  }
  
}
  input:checked + p{
    text-decoration: line-through;
}
.containerTodoItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 95%;
  
}
.todoItemLeft{
  display: flex;
  flex-direction: row;
  gap: 1vw;
  max-width:50%;
  input{
    min-width: 1.5vw;
  }

}
.todoItemRight{
  display: flex;
  flex-direction: row;
  gap: 1vw;
 
}
.deleteIcon{
  cursor: pointer;
}
.deleteIcon:hover{
color: white;
}
.iconDescription{
  cursor: pointer;
}
.iconDescription:hover{
  color: white;
}
.textDescription,
    .todoTime,
    .taskName, 
    .todoDate {
      font-size: 2vw;
    }
  

.todoItemContainerWIthSpanAndCheckbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
  min-width: 50%;
}
.containerAllTasks{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
}
@media only screen and (max-width: 1024px) {
  .containerTodoItemMain{
    min-width: 60vw;
    svg{
      font-size: 4vw;
    }
  }
  .deleteIcon:hover{
    color: black;
    }
    .iconDescription:hover{
      color: black;
    }
  
}
@media only screen and (max-width: 767px) {
  .containerTodoItemMain{
    min-width: 80vw;
    svg{
      font-size: 6vw;
    }
  }
  .deleteIcon:hover{
    color: black;
    }
    .iconDescription:hover{
      color: black;
    }
}

