.containerTodoItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: linear-gradient(201deg, rgba(7, 186, 190, 0.2329306723) 0%, rgb(34, 193, 226) 100%);
  border-radius: 8px;
  padding: 1vw;
  gap: 1vw;
  min-width: 33vw;
  overflow-wrap: anywhere;
}
.containerTodoItem p {
  color: whitesmoke;
}

input:checked + span {
  text-decoration: line-through;
}

.deleteIcon {
  color: black;
  font-weight: 700;
  cursor: pointer;
}

.deleteIcon:hover {
  color: whitesmoke;
}

.todoItemContainerWIthSpanAndCheckbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1vw;
  min-width: 30vw;
}