.containerTodoList{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vw;
    min-width: 35vw;
    padding-bottom: 22vw;
    h2{
        font-size: 5vw;
    }
    button{
        border: none;
        border-radius: 8px;
        background: linear-gradient(97deg, rgba(7,186,190,0.2329306722689075) 0%, rgba(34,193,226,1) 100%);
        font-size: 3vw;
        color: rgb(73, 72, 72);
        min-width: 10vw;
        min-height: 3vw;
        padding: 1vw;
    }
    button:hover{
        cursor: pointer;
        color:white;
        
    }
}
@media only screen and (max-width: 1024px) {
    .containerTodoList{
        min-width: 60vw;
        button{
            min-width: 20vw;
        } 
        p{
            font-size: 3vw;
          }
    }  
    
}

@media only screen and (max-width: 767px) {
    .containerTodoList{
        min-width: 80vw;
        button{
            min-width: 30vw;
            font-size: 5vw;
        } 
        p{
            font-size: 5vw;
          }
    }  
     
}
@media only screen and (max-width: 766px) and (orientation: landscape)  {
    .containerTodoList{
        min-width: 80vw;
        button{
            min-width: 15vw;
            font-size: 3vw;
        } 
        p{
            font-size: 3vw;
          }
    }   
}