
  .containerWithNotes{
    background: linear-gradient(200deg, rgba(7,186,190,0.2329306722689075) 0%, rgba(34,193,226,1) 100%);
    border-radius: 8px;
    color: whitesmoke;
    padding: 1vw;
      display: flex;
      flex-direction: row;
      gap: 1vw;
      justify-content: space-between;
      align-items: flex-start;
      min-width: 35vw;
      p{
      max-width: 25vw;
      word-wrap: break-word;
  }
  }
  .notesButtons{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    
  button{
    border: none;
    cursor: pointer;
    background:none;
  font-size: 2vw;
  }
  button:hover{
    color: whitesmoke;
  }
  }
  