.containerProgressTask {
  background: linear-gradient(97deg, rgba(7, 186, 190, 0.2329306723) 0%, rgb(34, 193, 226) 100%);
  border-radius: 8px;
  padding: 2vw;
  font-size: 2vw;
  min-width: 35vw;
  margin-top: 2vw;
  color: white;
}
.containerProgressTask h2 {
  color: white;
  font-size: 3vw;
}