
.container{
  display: flex;
  flex-direction: column;
  gap: 1vw;  
  padding: 2vw;
  
}
h2{
  color:gainsboro;
  font-size: 4vw;
}
.containerWithTasks{
  background-color: rgb(70, 221, 221);
  border-radius: 8px;
  color: whitesmoke;
  padding: 1vw;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 30vw;
    p{
    max-width: 20vw;
    word-wrap: break-word;
}
}
.notesButtons{
  display: flex;
  flex-direction: row;
  gap: 1vw;
  

button{
  border: none;
  cursor: pointer;
  background-color: rgb(70, 221, 221);
font-size: 2vw;
}
button:hover{
  color: whitesmoke;
}
}
.containerWithInputAndButton{
  min-width: 30vw;
  input{
    min-width: 30vw;
    border: none;
  }
}
.iconAddNote{
  background-color: rgb(70, 221, 221);
}