.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1vw;
  padding: 2vw;
}

h2 {
  color: gainsboro;
  font-size: 6vw;
}

.containerWithInputAndButton {
  min-width: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.containerWithInputAndButton input {
  min-width: 100%;
  border: none;
}

.addNoteBtn {
  border: none;
  background: none;
  font-size: 6vw;
  color: rgb(34, 193, 226);
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.addNoteBtn:hover {
  color: rgb(31, 100, 114);
}