.footerContainer{
    display: flex;
    flex-direction: row;
    background-color: rgb(70, 221, 221);
    gap: 1vw;
}
.leftContainer{
    display: flex;
    flex-direction: row;
    font-size: 3vw;
    color: white;
    
}
.addTask{
    font-size: 5vw;
    padding: 1vw;
    color: white;
}
.rightContainer{
    display: flex;
    flex-direction: row;
    font-size: 3vw;
    color: white;
}