.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: whitesmoke;
  margin-top: 1vw;
  min-width: 35vw;
  border-radius: 8px;
  font-size: 5vw;
}

.leftContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 4vw;
}

.home {
  font-size: 7vw;
  padding: 1vw;
  color: rgb(34, 193, 226);
  cursor: pointer;
}

.home:hover {
  color: rgb(31, 100, 114);
}

.rightContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 4vw;
}

a {
  color: rgb(34, 193, 226);
}

a:hover {
  color: rgb(31, 100, 114);
}