.footerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:whitesmoke;
    margin-top: 1vw;
    min-width: 35vw;
    border-radius: 8px;
    font-size: 5vw;
    position: static;
    bottom: 0;
    position: fixed; 
    
}
.leftContainer{
    display: flex;
    flex-direction: row;
    font-size: 4vw;
}

.home{
    font-size: 7vw;
    padding: 1vw;
    color: rgba(34,193,226,1);
    cursor: pointer;

}
.home:hover{
    color: rgb(31, 100, 114);
}
.rightContainer{
    display: flex;
    flex-direction: row;
    font-size: 4vw;
}

a{
    color:rgba(34,193,226,1);
}
a:hover{
    color: rgb(31, 100, 114);
}
@media only screen and (max-width: 1024px) {
    .footerContainer{
        min-width: 60vw;
        margin-top: 4vw;
        svg{
            font-size: 10vw;
        }
        .homeIcon{
            font-size: 13vw;
        }
    }
    
}
@media only screen and (max-width: 767px) {
    .footerContainer{
        min-width: 80vw;
        margin-top: 6vw;
        svg{
            font-size: 12vw;
        }
        .homeIcon{
            font-size: 15vw;
        }
        
    }
}