.mainConateinerTodayTodoItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2vw;
  padding-bottom: 22vw;
}
.mainConateinerTodayTodoItem svg {
  font-size: 3vw;
}

input:checked + span {
  text-decoration: line-through;
}

.containerWithBtnSeeAllTodaTasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 35vw;
}
.containerWithBtnSeeAllTodaTasks h2 {
  font-size: 2vw;
  color: black;
}
.containerWithBtnSeeAllTodaTasks h3 {
  font-size: 2vw;
}

.btnSeeAllTodayTask {
  border: none;
  background: linear-gradient(201deg, rgba(7, 186, 190, 0.2329306723) 0%, rgb(34, 193, 226) 100%);
  border-radius: 8px;
  padding: 1vw;
  min-width: 5vw;
}

.btnSeeAllTodayTask:hover {
  cursor: pointer;
  background-color: rgb(34, 193, 226);
  color: white;
}

.containerTodaysTasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.todaysTask {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2vw;
  background: linear-gradient(201deg, rgba(7, 186, 190, 0.2329306723) 0%, rgb(34, 193, 226) 100%);
  border-radius: 8px;
  padding: 1vw;
  min-width: 33vw;
  overflow-wrap: anywhere;
}
.todaysTask p {
  color: white;
}

.tasksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 33vw;
}

.containerAllTodos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1vw;
  max-width: 33vw;
}

.leftContainerTodos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1vw;
  max-width: 15vw;
}

.rightContainerTodos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1vw;
}

.deleteIcon {
  cursor: pointer;
}

.deleteIcon:hover {
  color: white;
}

.iconDescription {
  cursor: pointer;
}

.iconDescription:hover {
  color: white;
}

@media only screen and (max-width: 1024px) {
  .mainConateinerTodayTodoItem svg {
    font-size: 4vw;
  }
  .mainConateinerTodayTodoItem p {
    font-size: 3vw;
  }
  .mainConateinerTodayTodoItem .containerWithBtnSeeAllTodaTasks {
    min-width: 60vw;
  }
  .mainConateinerTodayTodoItem .containerWithBtnSeeAllTodaTasks h2 {
    font-size: 3.2vw;
  }
  .mainConateinerTodayTodoItem .containerWithBtnSeeAllTodaTasks h3 {
    font-size: 2.5vw;
  }
  .mainConateinerTodayTodoItem .btnSeeAllTodayTask {
    min-width: 15vw;
  }
  .mainConateinerTodayTodoItem .todaysTask {
    min-width: 60vw;
  }
  .mainConateinerTodayTodoItem .tasksContainer {
    min-width: 100%;
  }
  .mainConateinerTodayTodoItem .containerAllTodos {
    max-width: 100%;
  }
  .mainConateinerTodayTodoItem .btnSeeAllTodayTask:hover {
    cursor: none;
    background-color: rgb(34, 193, 226);
    color: black;
    background: linear-gradient(201deg, rgba(7, 186, 190, 0.2329306723) 0%, rgb(34, 193, 226) 100%);
  }
  .mainConateinerTodayTodoItem .iconDescription:hover {
    color: black;
  }
  .mainConateinerTodayTodoItem .deleteIcon:hover {
    color: black;
  }
}
@media only screen and (max-width: 767px) {
  .mainConateinerTodayTodoItem {
    max-width: 80%;
  }
  .mainConateinerTodayTodoItem p {
    font-size: 5vw;
  }
  .mainConateinerTodayTodoItem svg {
    font-size: 6vw;
  }
  .mainConateinerTodayTodoItem .leftContainerTodos {
    max-width: 60%;
  }
  .mainConateinerTodayTodoItem .containerWithBtnSeeAllTodaTasks {
    min-width: 80vw;
  }
  .mainConateinerTodayTodoItem .containerWithBtnSeeAllTodaTasks p {
    font-size: 5vw;
  }
  .mainConateinerTodayTodoItem .containerWithBtnSeeAllTodaTasks h2 {
    font-size: 5vw;
  }
  .mainConateinerTodayTodoItem .containerWithBtnSeeAllTodaTasks h3 {
    font-size: 4vw;
  }
  .mainConateinerTodayTodoItem .btnSeeAllTodayTask {
    min-width: 25vw;
    font-size: 5vw;
  }
  .mainConateinerTodayTodoItem .todaysTask {
    min-width: 80vw;
  }
  .mainConateinerTodayTodoItem .tasksContainer {
    min-width: 100%;
  }
  .mainConateinerTodayTodoItem .containerAllTodos {
    max-width: 100%;
  }
  .mainConateinerTodayTodoItem .todayDescription,
  .mainConateinerTodayTodoItem .todayTasksTime {
    font-size: 5vw;
  }
  .mainConateinerTodayTodoItem .todayTaskName {
    font-size: 6vw;
  }
  .mainConateinerTodayTodoItem .btnSeeAllTodayTask:hover {
    cursor: none;
    background-color: rgb(34, 193, 226);
    color: black;
    background: linear-gradient(201deg, rgba(7, 186, 190, 0.2329306723) 0%, rgb(34, 193, 226) 100%);
  }
  .mainConateinerTodayTodoItem .iconDescription:hover {
    color: black;
  }
  .mainConateinerTodayTodoItem .deleteIcon:hover {
    color: black;
  }
}
@media only screen and (orientation: landscape) {
  .mainConateinerTodayTodoItem {
    max-width: 60%;
  }
  .mainConateinerTodayTodoItem p {
    font-size: 3vw;
  }
  .mainConateinerTodayTodoItem svg {
    font-size: 3vw;
  }
  .mainConateinerTodayTodoItem .leftContainerTodos {
    max-width: 40%;
  }
  .mainConateinerTodayTodoItem .containerWithBtnSeeAllTodaTasks {
    min-width: 80vw;
  }
  .mainConateinerTodayTodoItem .containerWithBtnSeeAllTodaTasks p {
    font-size: 3vw;
  }
  .mainConateinerTodayTodoItem .containerWithBtnSeeAllTodaTasks h2 {
    font-size: 4vw;
  }
  .mainConateinerTodayTodoItem .containerWithBtnSeeAllTodaTasks h3 {
    font-size: 4vw;
  }
  .mainConateinerTodayTodoItem .btnSeeAllTodayTask {
    min-width: 10vw;
    font-size: 3vw;
  }
  .mainConateinerTodayTodoItem .todaysTask {
    min-width: 80vw;
  }
  .mainConateinerTodayTodoItem .tasksContainer {
    min-width: 100%;
  }
  .mainConateinerTodayTodoItem .containerAllTodos {
    max-width: 100%;
  }
  .mainConateinerTodayTodoItem .todayDescription,
  .mainConateinerTodayTodoItem .todayTasksTime {
    font-size: 3vw;
  }
  .mainConateinerTodayTodoItem .todayTaskName {
    font-size: 6vw;
  }
  .mainConateinerTodayTodoItem .btnSeeAllTodayTask:hover {
    cursor: none;
    background-color: rgb(34, 193, 226);
    color: black;
    background: linear-gradient(201deg, rgba(7, 186, 190, 0.2329306723) 0%, rgb(34, 193, 226) 100%);
  }
  .mainConateinerTodayTodoItem .iconDescription:hover {
    color: black;
  }
  .mainConateinerTodayTodoItem .deleteIcon:hover {
    color: black;
  }
}